<%- include partials/header.ejs %>

<div class="container">
<h1>Edit Your Account Information</h1>
</div>
<main class="jumbotron">
	<div class="container">
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="displayName">Display Name: *</label>
                <input name="displayName" type="text" class="form-control" required value="<%= users.name %>" autofocus />
            </fieldset>
            <fieldset class="form-group">
                <label for="email">Email: *</label>
                <input name="email" type="email" class="form-control" required value="<%= users.email %>"/>
            </fieldset>
            <fieldset class="form-group">
                <label for="password">Password: *</label>
                <input name="password" type="password" class="form-control" required value="Enter New Password" />
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update</button>
                <a href="/users/delete/<%= users._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this? This Will Delete Your Account!');" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
                <a href="/users" title="Cancel"  class="btn btn-default">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>
</div>
</main>


<div class="box"> </div>



<%- include partials/footer.ejs %>