<%- include partials/header.ejs %>

<body>
<h1>Welcome to our Survey site </h1>
  <main class="jumbotron">
                <% if (username) { %>
              
            
                <h1> Youve Logged in <%= username %><h1>
                <% } %>
                <div class ="container">
                
                  
                 <label for="email">Email: <%= email %></label>
                 
                 <label for="email"> Date Created: <%= created %></label>
                 
                 <a href="/users/<%= _id %>" title="Edit" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                 </div>
                 
                 
                 

  </main>


</body>

<%- include partials/footer.ejs %>