<%- include partials/header.ejs %>

<body>
<h1>Welcome to our Survey site </h1>
  <main class="jumbotron">
 <% if (username) { %>
              
            
                <h1> Youve Logged in <%= username %><h1>
                 <label for="name">Name: </label>
                 <p> <%= name %> </p>
                 <label for="email">Email: </label>
                 <p> <%= email %> </p>
                 
                 
                 
                 
                 <% } %>

  </main>


</body>

<%- include partials/footer.ejs %>