<%- include partials/header.ejs %>

<body>
<h1>Welcome to our Survey site </h1>
  <main class="jumbotron">
                <% if (username) { %>
              
            
                <h1> Youve Logged in <%= username %><h1>
                <% } %>
                 <label for="name">Name: <%= users.name %></label>
                  
                 <label for="email">Email: <%= users.email %></label>
                 
                 
                 
                 
                 
                 

  </main>


</body>

<%- include partials/footer.ejs %>