<%- include partials/header.ejs %>

<body>

    <div class="container">
        <ng-view></ng-view>
    </div>

    <script type="text/ng-template" id="/survey.html">

        <div class="panel panel-default" ng-init="setUserName('<%= username %>')">
            <div class="panel-heading">
                <h1 class="panel-title"><%= title %></h1>
            </div>
            <!-- panel-heading -->
            <div class="panel-body">
                <h4> Surveys  <span class="badge">{{totalSurveys()}}</span> remaining</h4>
                <h5>Search Surveys:</h5>
                <input type="text" ng-model="search.name" id="searchSurvey" placeholder="Survey to find" class="form-control">

                <ul class="list-group">
                    <li class="list-group-item active">Current Surveys</li>
                    <li ng-repeat="survey in survey | filter: search | filter: {username: '<%= username %>'}" class="list-group-item">
                        <div class="btn-group">
                            <button type="button" ng-show="!editing[$index]" ng-click="edit($index)" class="btn btn-default "><i class="fa fa-edit"></i></button>

                        </div>
                        <!-- btn-group -->

                        <span class="survey">
                            <a  ng-show="!editing[$index]" href="#/{{survey._id}}" class="completed-{{survey.completed}}">{{survey.name}}</a></span>

                        <input ng-show="editing[$index]" type="text" ng-model="survey.name" class="form-control">
                        <div class="btn-group">
                            <button type="button" ng-show="editing[$index]" ng-click="update($index)" class="btn btn-warning">update</button>
                            <button type="button" ng-show="editing[$index]" ng-click="remove($index)" class="btn btn-danger">remove</button>
                            <button type="button" ng-show="editing[$index]" ng-click="cancel($index)" class="btn btn-default">cancel</button>
                        </div>
                        <!-- btn-group -->
                    </li>
                </ul>
                <% if (username) { %>
                    <h5>New Survey</h5>
                    <input type="text" ng-model="newSurvey" id="newSurvey" placeholder="Add a new Survey" class="form-control">
                    <input type="text" ng-model="newQuestion" id="newQuestion" placeholder="Add a Question" class="form-control">
                    <button type="button" ng-click="save()" class="btn btn-primary">Create</button>
                    <% } %>


            </div>
            <!-- panel-body -->
        </div>
        <!-- panel panel-default -->
    </script>

    <script type="text/ng-template" id="/surveyDetails.html">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ survey.name }}</h2>
            </div>
            <!-- panel-heading -->
            <div class="panel-body">

                <div class="well well-sm">
                    <h3>Question:</h3>
                    <p> {{survey.question}}</p>
                    <br>
                    <br>
                </div>
                <!-- well well-sm -->
                  <section ng-controller="TabController as tab">
          <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href="" ng-click="tab.setTab(1)">Stats</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href="" ng-click="tab.setTab(2)">Answer</a>
            </li>
          </ul>
          <div ng-show="tab.isSet(1)">
            <h4>Description</h4>
            <blockquote></blockquote>
          </div>
          <div ng-show="tab.isSet(2)">
            <!--  Answer List -->
            <ul>
              <h4>Answers</h4>
              <li ng-repeat="answer in survey.answer">
                <blockquote>
                  <strong>{{survey.stats}} Stars</strong>
                  {{answer.body}}
                  <cite class="clearfix">—{{answer.author}}</cite>
                </blockquote>
              </li>
            </ul>

            <!--  Answer Form -->
            <form ng-submit="answerCtrl.addAnswer(survey)"ng-controller="AnswerController as answerCtrl"name="answerForm">

              <!--  Live Preview -->
              <blockquote>
                <strong>{{answerCtrl.answer.trueFalse}} True or False</strong>
                {{answerCtrl.answer.body}}
                <cite class="clearfix">—{{answerCtrl.answer.author}}</cite>
              </blockquote>

              <!--  Answer Form -->
              <h4>Submit a Answer</h4>
              <fieldset class="form-group">
                <select ng-model="answerCtrl.answer.trueFalse" class="form-control" ng-options="stars for stars in [True,False]" title="trueFalse">
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="answerCtrl.answer.body" class="form-control" placeholder="Write a short answer..." title="Answer"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="answerCtrl.answer.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Answer" />
              </fieldset>
            </form>
          </div>
        </section>
                <div class="btn-group">
                    <button type="button" ng-click="cancel()" class="btn btn-default">cancel</button>
                </div>
                <!-- btn-group -->

            </div>
            <!-- panel-body -->
        </div>
        <!-- panel panel-default -->

    </script>


</body>

<%- include partials/boot.ejs %>
<%- include partials/nglib.ejs %>
<%- include partials/footer.ejs %>