<%- include partials/header.ejs %>

<body>
<h1>Welcome to our Survey site </h1>
  <main class="jumbotron">

              <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Survey Name</th>
                        <th>User Name</th>
                        <th>Replies</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                    </tr>
                </thead>
                </tbody>
                <% for (var i = 0; i < survey.length; i++) { %>
                <tr>
                    <td>
                        <%= survey[i].name %>
                    </td>
                    <td>
                        <%= survey[i].username %>
                    </td>
                    <td> 
                        <%= survey[i].replies %>
                    </td>
                    <td>
                        <% var date = new Date(contact[i].created);
                         var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <%= dateString %>
                    </td>
                    <td>
                        <% date = new Date(contact[i].updated);
                         var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <%= dateString %>
                    </td>
                     
                </tr>
                <% } %>
                </tbody>
            </table>
        </div> <!-- panel-body -->
        
    </div><!-- panel panel-default -->


  </main>


</body>

<%- include partials/footer.ejs %>