<%- include partials/header.ejs %>

<body>
<div class="panel-body table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
 <tr>
                        <th>User Name</th>
                        <th>Survey Title</th>
						<th>Expiration Date</th>
                        <th></th>
                    </tr>
                </thead>
                </tbody>
                <% for (var i = 0; i < survey.length; i++) { %>
                <tr>
                    <td>
                        <%= survey[i].username%>
                    </td>
                    <td>
                        <%= survey[i].surveyname %>
                    </td>
                    <td>
                        <%= survey[i].expirationDate %>
                    </td>
                   
</tr>




<% } %>

</body>

<%- include admin-partials/boot.ejs %>
<%- include partials/footer.ejs %>